name: 'Build, Push, Deploy'
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  build:
    name: Build, Push, Deploy
    runs-on: ubuntu-latest
    env:
      DIGITALOCEAN_ACCESS_TOKEN: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
      DISCORD_API_TOKEN: ${{ secrets.DISCORD_API_TOKEN }}
      TZ: EST
    steps:
      - name: Checkout main
        uses: actions/checkout@v2

      - name: Build container image
        run: >
          docker build -t
          registry.digitalocean.com/emmahyde-containers/dulapeepbot:latest

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: $DIGITALOCEAN_ACCESS_TOKEN

      - name: Login to DigitalOcean Container Registry
        run: doctl registry login --expiry-seconds 600

      - name: Push image to DigitalOcean Container Registry
        run: >
          docker push
          registry.digitalocean.com/emmahyde-containers/dulapeepbot:latest

      - name: Pull image to DigitalOcean 'dulapeepbot' Droplet
        run: docker image pull

      - name: Compose and Run 'dulapeepbot:latest'
        run: >
          DISCORD_CLIENT_ID=$DISCORD_CLIENT_ID
          DISCORD_API_TOKEN=$DISCORD_API_TOKEN
          TZ=$TZ
          docker compose up -d --build

